@media only screen and (max-width: 1140px) {
    
    .splash-text-box {
        position: absolute;
        width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 160%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 4px;
    }


    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 200px;
        transition: background-color 0.2s, border 0.2s, color 0.2s;
        margin-bottom: 5px;
    }
    
    
    .btn-full:link,
    .btn-full:visited {
        background-color: #e67e22;
        border: 1px solid #e67e22;
        color: #fff;
        font-size: 80%;
    
    }
    
    .btn-ghost:link,
    .btn-ghost:visited {
        border: 1px solid #e67e22;
        color: #fff;
        font-size: 80%;
    }
    
    .btn:hover,
    .btn:active {
        background-color: #e67e22;
        font-size: 80%;
    }
    
    .btn-full:hover,
    .btn-full:active {
        background-color: #e67e22;
        border: 1px solid #e67e22;
        color: #fff;
        font-size: 80%;
    
    }
    
    .btn-ghost:hover,
    .btn-ghost:active {
        border: 1px solid #e67e22;
        color: #fff;
        background-color: #e67e22;
        font-size: 80%;
    }

}

    @media only screen and (max-width: 768px) {
    
        .splash-text-box {
            position: absolute;
            width: 450px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    
        h1 {
            margin-top: 0;
            margin-bottom: 20px;
            color: #fff;
            font-size: 100%;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            word-spacing: 4px;
        }
    
    
        .btn:link,
        .btn:visited {
            display: inline-block;
            padding: 10px 30px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            transition: background-color 0.2s, border 0.2s, color 0.2s;
            margin-bottom: 5px;
        }
        
        
        .btn-full:link,
        .btn-full:visited {
            background-color: #e67e22;
            border: 1px solid #e67e22;
            color: #fff;
            font-size: 80%;
        
        }
        
        .btn-ghost:link,
        .btn-ghost:visited {
            border: 1px solid #e67e22;
            color: #fff;
            font-size: 80%;
        }
        
        .btn:hover,
        .btn:active {
            background-color: #e67e22;
            font-size: 80%;
        }
        
        .btn-full:hover,
        .btn-full:active {
            background-color: #e67e22;
            border: 1px solid #e67e22;
            color: #fff;
            font-size: 80%;
        
        }
        
        .btn-ghost:hover,
        .btn-ghost:active {
            border: 1px solid #e67e22;
            color: #fff;
            background-color: #e67e22;
            font-size: 80%;
        }

  }

  @media only screen and (max-width: 576px) {
    
    .splash-text-box {
        position: absolute;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 80%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 4px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 80%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 4px;
    }

    p {
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 80%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 4px;

    }

    h2.rate {
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 60%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 4px;
    }


    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 200px;
        transition: background-color 0.2s, border 0.2s, color 0.2s;
        margin-bottom: 5px;
    }
    
    
    .btn-full:link,
    .btn-full:visited {
        background-color: #e67e22;
        border: 1px solid #e67e22;
        color: #fff;
        font-size: 80%;
    
    }
    
    .btn-ghost:link,
    .btn-ghost:visited {
        border: 1px solid #e67e22;
        color: #fff;
        font-size: 80%;
    }
    
    .btn:hover,
    .btn:active {
        background-color: #e67e22;
        font-size: 80%;
    }
    
    .btn-full:hover,
    .btn-full:active {
        background-color: #e67e22;
        border: 1px solid #e67e22;
        color: #fff;
        font-size: 80%;
    
    }
    
    .btn-ghost:hover,
    .btn-ghost:active {
        border: 1px solid #e67e22;
        color: #fff;
        background-color: #e67e22;
        font-size: 80%;
    }

}