#weatherContainer {
    border: none;
    margin-top:10px;
    /* background-color: rgb(218, 166, 211); */
    color:#fff;
    font-family: 'Lato', 'Arial', sans-serif;
}

.row{
    border-top: solid white 1px;
}

.col-sm-3{
    border:#fff solid 1px;
}


#city{
    text-align: center;
}
